/* You can add global styles to this file, and also import other style files */

.card {
    width: 100%;
    border-radius: 3px;
    -webkit-box-shadow: -1px 7px 21px -4px rgba(171,169,171,1);
    -moz-box-shadow: -1px 7px 21px -4px rgba(171,169,171,1);
    box-shadow: -1px 7px 21px -4px rgba(171,169,171,1);
    margin-bottom: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align:center;
}

h2{
    text-align: center;
}
.card--content-left {
    grid-column-start: 1;
    color:#e2041a;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card--content-right {
    grid-column-start: 2;
    color:white;
    background-color: #e2041a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card--content-footer {

}


body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

label {
    font-size: 2em;
}

button {
  background-color: #e2041a;
  color:white;
  font-weight: bold;
  border-radius: 3px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;

}

h1 {
  text-align:center;
  color: #e2041a;
}
